// declare variable for less and apply style to specific element

@primary-color: #0390cd;

@primary-dark: #151618;
@secondary-dark: #1b1c1d;

@error-color: #f5222d;
@success-color: #52c41a;
@warning-color: #faad14;

@site-background-color: #fff;
//scrollbar
@thumbColor: #a8a8a8;

.error {
	color: @error-color !important;
}

.site-layout-background {
  background: @site-background-color;
}
